let mapleader=" "

Plug 'tpope/vim-commentary'

nnoremap L $
nnoremap H ^
nnoremap Y ddO
nnoremap K vt
nnoremap S v$h
nnoremap <c-j> <c-e>
nnoremap <c-k> <c-y>
nnoremap <c-;> :noh<CR>

set clipboard+=unnamed
set noerrorbells
set visualbell
set nocompatible
set tabstop=2 shiftwidth=2 softtabstop=2 smarttab
set relativenumber
set number
set incsearch
set guicursor=
set smartcase
set noswapfile
set tabstop=2 softtabstop=2 expandtab shiftwidth=2 smarttab
set noshowmatch
set nobackup
set nowrap
set surround
set termguicolors
set scrolloff=0
set cmdheight=2
set updatetime=50
set colorcolumn=80
set timeout ttimeout         " separate mapping and keycode timeouts
set timeoutlen=500           " mapping timeout 500ms  (adjust for preference)
set ttimeoutlen=20           " keycode timeout 20ms
