" Key remaps
nnoremap <C-;> :noh <cr>

" Intellij vim plugin settings
let mapleader=" "
set ideajoin
set clipboard+=unnamed
set noerrorbells
set visualbell
set nocompatible
set tabstop=2 shiftwidth=2 softtabstop=2 smarttab
set relativenumber
set number
set hlsearch
set guicursor=
set smartcase
set noswapfile
set tabstop=2 softtabstop=2 expandtab shiftwidth=2 smarttab
set noshowmatch
set nobackup
set nowrap
set surround
set termguicolors
set scrolloff=0
set cmdheight=2
set updatetime=50
set colorcolumn=80
set timeout ttimeout
set timeoutlen=500
set ttimeoutlen=20
